<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/survey_detail.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <div id="survey-name" class="center">
            <label>Survey 1</label> 
        </div>
        <div id="survey-description" class="center">
            <label>Простота в работе. Мы приложили много усилий, чтобы работать на нашей бирже копирайтинга было максимально легко и удобно. Интуитивно понятный интерфейс, постоянное совершенствование функционала и подробный FAQ помогут в работе начинающим и обеспечат комфорт постоянным пользователям сервиса Text.ru.</label>
        </div>
    </div>
</body>
</html>