<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/survey_detail.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <div class="center">
            <label id="survey-name">Survey 1</label>
        </div>
        <div class="center">
            <label id="survey-description">Простота в работе. Мы приложили много усилий, чтобы работать на нашей бирже копирайтинга было максимально легко и удобно. Интуитивно понятный интерфейс, постоянное совершенствование функционала и подробный FAQ помогут в работе начинающим и обеспечат комфорт постоянным пользователям сервиса Text.ru.</label>
        </div>
        <div>
            <label id="survey-createdDate">Created today</label>
        </div>
        <div id="survey-authorName">
            <label>Author Name</label>
        </div>
        <div>
            <div id="survey-visit-count">
                <img src="~/images/eye.png">
                <label>5</label>
            </div>
            <button id="add-question-btn">Add new question</button>
        </div>
        <div>
            <table>
                <tr>
                    <td class="question">
                        <div >
                            <p class="question-title">Question title</p>
                            <p class="question-description">Простота в работе. Мы приложили много усилий, чтобы работать на нашей бирже копирайтинга было максимально легко и удобно. Интуитивно понятный интерфейс, постоянное совершенствование функционала и подробный FAQ помогут в работе начинающим и обеспечат комфорт постоянным пользователям сервиса Text.ru.</p>
                        </div>
                    </td>
                    <td class="answers">
                        <div>
                            <ul>
                                <li>Answer 1</li>
                                <li>Answer 2</li>
                                <li>Answer 3</li>
                            </ul>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</body>
</html>