@using Microsoft.AspNetCore.Rewrite.Internal.UrlActions
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/surveys.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // GET surveys and add them to the table
            $.ajax({
                url: "/api/surveys",
                method: "GET",
                success: function (surveys) {
                    surveys.forEach(function(survey) {
                        $("#surveys").append("<tr data-survey-id='" +survey.id + "'><td><div class='survey-page-table-td'><div><label class='survey-name'>" +survey.name + "</label><label class='survey-dateCreated'>Created " +new Date(survey.dateCreated).getFullYear() + " year</label></div><div class='survey-authorName'><label>" +survey.authorName + "</label></div></div></td><td><img src='/images/eye.png'/><label>"+ survey.viewCount + "</label></td><td><img src='/images/next.png' class='survey-arrow-td'/></td></tr>");
                    });
                }
            });

            // Open New survey view when clicking button
            $("#add-survey-btn").click(function() {
                window.location.href = "/surveys/new";
            });

            // Open survey detail view base on surveyId
            $("#surveys").on('click', 'tr', function () {
                var surveyId = $(this).attr("data-survey-id");
                window.location.href = "/surveys/detail/"+surveyId;
            });
        });
    </script>

</head>
<body>
<div>
    <!-- Title Feedback Manager-->
    <div class="center">
        <label class="survey-page-title">Feedback Manager</label>
    </div>
    
    <!-- New Survey button-->
    <button id="add-survey-btn" class="add-survey-button">Create new survey</button>
    
    <!-- List of Surveys-->
    <div id="surveys-div">
        <table id="surveys">
        </table>
    </div>

</div>
</body>
</html>