<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title>New</title>
</head>
<body>
<div style="width: 500px; text-align: center;">
    @using (Html.BeginForm("Save", "Surveys"))
    {
        @Html.ValidationSummary(true, "Please fix the following errors.")
        <div class="form-group">
            <label>Survey Name</label>
            <input class="form-control" type="text"/>
            <!-- Html.ValidationMessageFor(m => m.Name)-->
        </div>
        <div class="form-group">
            <label>Creator Name</label>
            <input class="form-control" type="text"/>
            <!-- Html.ValidationMessageFor(m => m.Name)-->
        </div>
        <div class="form-group">
            <label>Description (optional)</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Creation date</label>
            <input type="date" class="form-control"/>
            <!-- Html.ValidationMessageFor(m => m.Name)-->
        </div>

        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary" style="width: 100px;">Save</button>
    }
</div>
</body>
</html>
