.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.survey-page-title {
    font-style: italic;
    font-size: x-large;
    font-family: "Arial";
}

.survey-page-button {
    position: absolute;
    right: 50px;
    width: 150px;
    height: 38px;
    border: 1px solid black;
}
