.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.survey-page-title {
    font-style: italic;
    font-size: x-large;
    font-family: "Arial";
}

.add-survey-button {
    float: right;
    width: 150px;
    margin-right: 25px;
    height: 38px;
    border: 2px solid black;
    background-color: white; 
}

#surveys-div {
    clear: both;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px; 
}
table {
    width: 100%;
}

table, td {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    padding: 10px;
}


