@model int
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/error.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title>New</title>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- JQuery Validation plugin-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            // Add answer
            var answers = [];
            $.validator.addMethod("validAnswer",
                function(e) {
                    return e && e.length > 0;
                },
                "Please enter an answer");
            var answerValidator = $("#newAnswer").validate({
                submitHandler: function () {
                    var answerText = $("#answer").val();
                    $("#answer").val("");

                    answers.push({text:answerText});
                    $("#list-answers").append("<li class='list-group-item'>" + answerText + "</li>");
                    return false;
                }
            });
            // Form
            $.validator.addMethod("validQuestion",
                function(e) {
                    return e && e.length > 0;
                },
                "Please enter a question.");

            var formValidator = $("#newQuestion").validate({
                submitHandler: function() {
                    var questionText = $("#question-text").val();
                    var questionComment = $("#question-comment").val();

                    // Creating question
                    var question = {
                        text: questionText,
                        comment: questionComment
                    };

                    // Check answers
                    if (answers.length <= 0) {
                        alert("Please enter at least one answer.");
                        return false;
                    }
                    // Send POST request to add new question
                    $.ajax({
                        url: "/api/survey/" + @Model,
                        contentType: "application/json; charset=utf-8",
                        method: "POST",
                        data: JSON.stringify(question),
                        datatype: "json"
                    }).done(function (q) {
                        // Save answers
                        $.ajax({
                            url: "/api/question/multiple/" + q.question.id,
                            contentType: "application/json; charset=utf-8",
                            method: "POST",
                            data: JSON.stringify(answers),
                            datatype: "json"
                        }).done(function (e) {
                            console.log(e);
                        });
                        window.location.href = "/surveys/detail/" + @Model;
                    });
                    return false;
                }
            });
        });
    </script>
</head>
<body>
    <form id="newQuestion">
        <div style="width: 500px; text-align: center;">
            <div class="form-group">
                <label class="form-text">Question</label>
                <input class="form-control" name="question-text" id="question-text" type="text" data-rule-validQuestion="true" />
            </div>
            <div class="form-group">
                <label class="form-text">Comment (optional)</label>
                <textarea class="form-control" name="question-comment" id="question-comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100px;">Save</button>
        </div>
    </form>
    <form id="newAnswer">
        <div class="form-group" style="width: 500px; text-align: center; margin-top: 25px;  position: absolute; right: 50px; top: 0px;">

            <div class="form-group">
                <label>Add Answers</label>
                <input type="text" id="answer" class="form-control" data-rule-validAnswer="true" />
            </div>
            
            <button type="submit" class="btn btn-secondary" style="width: 100px;">Add</button>
            

            <div class="form-group">
                <label class="form-text">Answers:</label>
                <ul class="list-group" id="list-answers"></ul>
            </div>

        </div>
    </form>
</body>
</html>
