<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
<div>
    <div class="center">
        <label class="survey-page-title">Feedback Manager</label>
    </div>
    <button class="survey-page-button">Create new survey</button>
</div>
</body>
</html>
