<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
<div>
    <div class="center">
        <label class="survey-page-title">Feedback Manager</label>
    </div>

    <button class="add-survey-button">Create new survey</button>
    
    <div id="surveys-div">
        <table>
            <tr>
                <td class="survey-page-table-td">
                    <div>
                        <label>Survey 1</label>
                        <label>Created Today</label>
                    </div>
                    <div>
                        <label>Author</label>
                    </div>
                </td>
                <td>Views</td>
                <td>Arrow</td>
            </tr>
            <tr>
                <td class="survey-page-table-td">
                    <div>
                        <label>Survey 1</label>
                        <label>Created Today</label>
                    </div>
                    <div>
                        <label>Author</label>
                    </div>
                </td>
                <td>Views</td>
                <td>Arrow</td>
            </tr>
            <tr>
                <td class="survey-page-table-td">
                    <div>
                        <label>Survey 1</label>
                        <label>Created Today</label>
                    </div>
                    <div>
                        <label>Author</label>
                    </div>
                </td>
                <td>Views</td>
                <td>Arrow</td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
